@inherits LayoutComponentBase

<NavMenu />

<div class="container">
	<main role="main" class="pb-3">
		@Body
	</main>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		Example from HTL Leonding
	</div>
</footer>
